.robot {
    min-height: 150px;
    width: 300px;
}

.robot-filters {
    .btn {
        border: 1px solid #ccc;
        border-radius: 0;
    }
    .btn:first-child {
        border-radius: 10px 0 0 10px;
        border-right: none;
    }
    .btn:last-child {
        border-radius: 0 10px 10px 0;
        border-left: none;
    }
}

ul.robot-actions,
ul.robot-configurations,
ul.robot-statuses {
    margin: 10px 0;
    padding: 0 0 0 10px;
    list-style-type: none;

    li {
        margin-left: 5px;
        display: inline-block;
        padding: 2px;
        border: 1px solid #ccc;
        border-radius: 5px;
        min-height: 20px;
        min-width: 20px;
        text-align: center;

        i {
            vertical-align: middle;
        }
    }
}

ul.robot-configurations {
    padding: 10px;
    background-color: #888;
    border: 1px solid #333;
    display: block;

    li {
        background-color: #fff;
        border: 1px solid #333;
        border-radius: 10px;
        display: block;
        margin: 0 0 5px;
        padding: 0;

        .col {
            padding: 0;
            margin: 0;
            display: inline-block;
            vertical-align: top;
            width: auto;
            height: 40px;

            &:first-child {
                width: 24%;
                border-right: 1px solid #000;
            }
            &:last-child {
                width: 75%;
                text-align: left;
            }
        }

        .config-icon {
            text-align: center;
            height: 40px;
        }

        .config-value {
            text-align: left;
            padding: 10px;

            .robot-color {
                height: 20px;
                width: 20px;
            }
        }

        .config-icon,
        .config-value {
            display: inline-block;
            vertical-align: middle;
            margin: 0;
        }

        &:last-child {
            margin: 0;
        }
    }
}