.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    &.align-left {
        justify-content: flex-end;
    }

    .col {
        order: 1;
        padding: 0 15px;
        margin-bottom: 15px;
    }
}

.card {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

@import "robot";